header{
    border:3px solid rgb(86, 177, 34);
    background-color: rgb(134, 204, 43);
    color:white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:70px;
    width:100%;
}
footer{
    border:2px solid rgba(128, 128, 128, 0.705);
    background-color: rgba(128, 128, 128, 0.712);
    height:45px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
section{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
a{
    text-decoration: none;
    border:2px solid rgb(226, 223, 52);
    background-color: rgb(226, 223, 52);
    padding:8px;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button{
   border:2px solid rgb(226, 223, 52);
    background-color: rgb(226,223,52);
    padding:8px;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
ul li {
  margin-bottom: 10px; /* Adds 10px space below each list item */
}
.shop{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
.contact{
    border:3px solid rgb(86, 177, 34);
    box-shadow:5px 5px 10px rgba(86, 177, 34, 0.856);
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    height:300px;
    width:330px;
    text-align: center;
}
.container{
    font-family:Arial, Helvetica, sans-serif;
}
.budget{
    text-align: left;
}